body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    border: 0;
    color: #D3D3D3;
}

nav {
    width: 240px;
}

nav i {
    padding-right: 1rem;
}

nav.minimized i {
    padding-right: 0;
}

nav > ul {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 0;
}

nav.minimized > ul {
    padding-top: 0;
    text-align: center;
}

nav > ul a {
    display: block;
    color: #D3D3D3;
}

nav > ul a:hover {
    text-decoration: none;
    color: #D3D3D3
}

nav > ul > li {
    padding: 7px 0 7px 15px;
    font-size: 2rem;
}

nav.minimized > ul > li {
    padding: 7px 0 7px 0;
}

nav > ul > li:hover {
    background-color: #333333;
}

.active {
    box-shadow: 3px 0 0 #6441A4 inset;
    background-color: #333333;
}

.transition {
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: width 0.15s ease-out;
}

#left-panel {
    background-color: #1E1E1E;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

}

#left-panel.minimized {
    width: 68px;
}

#left-panel.minimized span,
#left-panel.minimized #large-header {
    display: none;
}

#center-panel {
    position: absolute;
    margin-left: 240px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#center-panel.expanded {
    /* needs to be the same as
    #left-panel.minimized's width */
    margin-left: 68px;
}

#sidebar-toggle {
    position: relative;
    background-color: #323232;
    margin-left: 3px;
    margin-top: 3px;
    opacity: .5;
    border-radius: 2px;
    width: 25px;
    height: 24px;
    display: block;
    outline: none;
    z-index: 1;
}

#arrow {
    position: relative;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right: 8px solid white;
    top: 4px;
    right: 1px;
}

#arrow.arrow-right {
    border: 8px solid transparent;
    border-left: 8px solid white;
    left: 9px;
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 28px 25px 25px 28px;
}